
@{
    Layout ="~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="form-group" style="height:550px;">
        <h1>Chào Mừng Bạn Đến Với Trang Quản Lý</h1> 
        <img src="~/Images/group.jpg" style="height:500px;width:100%;"/>
    </div>
</body>
</html>
