@model List<WebThietBiMang.Models.CartItem>
<div class="cart">
    <p>
        <div id="dd">
            <a href="/Cart" style="color:black;">Giỏ Hàng: @Model.Count Sản Phẩm</a>
        </div>
    </p>
</div>